<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8">
	<title>Insert title here</title>
</head>

<body>
	<header class="header">
		<nav class="navbar">
			<ul class="nav navbar-nav">
				<li><a href="/boardList">게시판</a></li>
				<li><a href="/schedule">일정관리</a></li>
				<li th:if="${session.user}">
					<a href="/mypage">마이페이지</a>
				</li>
				<li th:if="${session.user}">
					<span th:text="${session.user.name}"></span>
				</li>
				<li th:if="${session.user == null}">
					<a href="/login">로그인</a>
				</li>
				<li th:if="${session.user == null}">
					<a href="/addUserForm">회원가입</a>
				</li>
			</ul>
		</nav>
	</header>

</body>

</html>