<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.mini.Knit.mappers.UserBoardMapper">

	<!-- 사용자 추가 -->
	<insert id="addUser"
		parameterType="com.mini.Knit.dtos.UserBoardDTO"
		useGeneratedKeys="true" keyProperty="userId">
		INSERT INTO UserBoard_TB (username, password, email, name, role, created_at,
		updated_at)
		VALUES (#{username}, #{password}, #{email}, #{name}, #{role}, NOW(), NOW())
	</insert>

	<!-- 사용자 ID 중복 체크 -->
	<select id="idChk" resultType="String">
		SELECT username FROM users WHERE
		username = #{username}
	</select>

	<!-- 사용자 로그인 -->
	<select id="loginUser"
		resultType="com.mini.Knit.dtos.UserBoardDTO">
		SELECT * FROM users WHERE username = #{username}
	</select>

</mapper>